body {
	background: black;
	font-family: 'Montserrat', sans-serif;
	color: #c3c3c3;
	text-align: center;
	margin-top: 200px;
}
 h1 {
	 font-style: italic;
	 font-weight: bold;
 }

/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width: 768px) {
	body {
    background: aqua;
		color: #5555ff;
  }
}

/* ----------- Monitors larger than 1200px wide ----------- */
@media (min-width: 1200px) {
		body {
			background: purple;
			color: #ff7fd4;
		}
}
